@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0e0b16;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #f8f8ff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #fffff0;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: blueviolet;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #f8f8ff;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #4717f6;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    position: absolute;
    display: flex;
    width: 500px;
    height: 380px;
    padding: 20px;
    margin-top: 5px;
    right: -80px; /* Anda dapat menyesuaikan angka ini sesuai dengan preferensi Anda */
    
}


.content .imgBox img{
    max-width: 440px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
}

.sci{
    position: absolute;
    top: 55%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: lighten;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: -20px 0;
    transform: scale(0.6);
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: blueviolet;
    clip-path: circle(600px at right 800px);
}


@media screen and (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        margin: 10px 0;
    }

    .content .textBox h2 {
        font-size: 2.5em;
        margin-top: 100px;
    }

    .content .textBox h2 span {
        font-size: 1em;
    }
}

