@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

main.container {
  padding: 70px 15px 0;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.navbar {
  font-weight: 500;
  background: rgb(90,226,255);
  background: linear-gradient(0deg, rgba(90,226,255,1) 0%, rgba(26,213,252,1) 100%);
}
